:root{ 
    --basic-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --background-footer-color: #2F303A ;
} 

body{
    background-color: F5F5F5;
    color: var(--basic-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list{
    list-style: none;
}

/* Стилізація header */

.logo{
    color: var(--accent-color);
   
    font-size: 26px;
    text-decoration: none;
    font-family: Raleway, sans-serif; 
    line-height: 1.2;

}
.logo-part{
    color: #000000;
    text-decoration: none;
}

.menu .link{
    color: var(--menu-list-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu .link:hover,
.menu .link:focus{
    color: var(--accent-color);
}
.menu .link.current{
    color: var(--accent-color);
}
.contact .link{
    color: var(--title-text-color);
    text-decoration: none;
 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
    text-decoration: none;
}
/* Шапка */
.hero{
    background-color: var(--background-footer-color);

}
.hero-title{
    color: #FFFFFF;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.button-order{
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;  
    letter-spacing: 0.06em;  
}
/* Особливості */
.section .section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}

.features .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
   
}

.features .title-text{
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.7;
    
}

c

/* Чим займаємося */


/* Наша команда */
.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  
}
.team .title-text{
    color: var(--title-text-color);

    font-size:16px;
    line-height: 1.2;
    
}
/* Підвал */
.footer{
    background-color: var(--background-footer-color);
}
.footer .logo-part{
    color: #ffffff;
    text-decoration: none;
}
.addres-link{
    color: #ffffff;
    
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
}
.addres-link:hover,
.addres-link:focus{
    color: var(--accent-color);
    font-style: normal;
}
.contact-footer .link{
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
.contact-footer .link.link:hover,
.contact-footer .link.link:focus{
    color: var(--accent-color);
    font-style: normal;
}




/* portfolio.html */
/* Фільтр */
.button {
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
/* Портфоліо */
.portfolio .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

}
.portfolio .title-text{
    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.8;
}