:root{ 
    --basic-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    
    --background-footer-color: #2F303A ;
} 

body{
    background-color: #F5F5F5;
    color: var(--basic-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;

}

.menu-part{
    display: flex;
    align-items: center;
} 

.header{
    display: flex;
    align-items: center;
    justify-content: center;
} 
/* Стилізація header */

.logo{
    color: var(--accent-color);
   
    font-size: 26px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif; 
    line-height: 1.2;

}
.logo-part{
    /* margin-right: 93px; */
    color: #000000;
    text-decoration: none;
    margin-right: 93px;

}
.menu{
    display: flex;
}

.menu .item:not(:last-child){
    margin-right: 50px;
}

.link{
    text-decoration: none;
    color: var(--basic-color);
}
.menu .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--basic-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
}
.menu .link:hover,
.menu .link:focus{
    color: var(--accent-color);
}
.menu .link.current{
    color: var(--accent-color);
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact .item:not(:last-child) {
    margin-right: 50px;
}

.contact .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
    text-decoration: none;
}
/* Шапка */
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;  

}


.hero{
    display: block;
    margin-bottom: 94px;
    height: 600px;
    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/background.jpg);
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px;
   

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.button-order{
   display: block;
    min-width: 216px;
    min-height: 50px;
    border-radius: 4px;
    border-color: transparent;
    margin: auto;

    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;  
    letter-spacing: 0.06em;
    
}
/* Особливості */
.features {
    display: flex;

}

.features .item:not(:last-child){
  
    margin-right: 30px;
}
.section .section-title{
    margin-top: 94px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.features .title{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.features .text{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7;
    
}

/* Чим займаємося */
.work {
    display: flex;
    justify-content: center;
}

.work-title {
    margin-top: 94px;
    margin-bottom: 50px;
}

.work .item:not(:last-child){
    margin-right: 30px;
}
/* Наша команда */
.team {
    display: flex;
    justify-content: center;
}
 
.team .item:not(:last-child){
    margin-right: 30px;
}
.team .image{
    margin-bottom: 30px;
}


.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0em;
    margin-bottom: 10px;
}
.team .text{
    color: var(--title-text-color);

    font-size:16px;
    line-height: 1.2;
    
    margin-top: 0;
    margin-bottom: 0;
}
/* Підвал */
.footer{
    margin-top: 94px;
    background-color: var(--background-footer-color);
    
}

.footer .logo{
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
}
.footer .logo-part{
    color: #ffffff;
    text-decoration: none;

}
.addres{
    padding-bottom: 60px;
}

.addres-link{
    color: #ffffff;
    display: inline-block;
    margin-bottom: 9px;
    
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
}
.addres-link:hover,
.addres-link:focus{
    color: var(--accent-color);
    font-style: normal;
}
.contact-footer .link{
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
.contact-footer .item:not(:last-child){
margin-bottom: 9px;
}


.contact-footer .link.link:hover,
.contact-footer .link.link:focus{
    color: var(--accent-color);
    font-style: normal;
}




/* portfolio.html */

/* Фільтр */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filter .item.item:not(:last-child){
    margin-right: 8px;
}

.button {
    border: transparent;

    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em
}

.button:hover,
.button:focus {
    border: transparent;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2196F3;
}
/* Портфоліо */
.portfolio{
    display: flex;
    flex-wrap: wrap;
    /* gap: 30px; */
    
}

.portfolio .item:not(:nth-child(3n + 3)){
    margin-right: 30px;
}

.portfolio .item:not(:nth-last-child(-n + 3)){
    margin-bottom: 30px;
}

.portfolio .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 4px; 
}


.portfolio .text{
    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.8;
    margin: 0;
}

